h2 {
    color: #008B8B;
}

a {
    color: #008B8B;
}

body {
    background-color: gainsboro;
}

.article-img {
  height: 85px;
  width: 85px;
  margin-right: 16px;
}


#box {
  background-color: gainsboro;
}

.content-section {
  background: #ffffff;
  padding: 20px 20px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin-bottom: 20px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}



