<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} Title Goes Here {% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
     <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">

    {% block head %}
        <!-- put extra CSS/JS here -->
    {% endblock %}
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand">Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
      </div>
        <div class="navbar-nav">
          {% if current_user.is_authenticated %}
            <li class="nav-item active">
            <a class="nav-link" href="/post/new">Create Post</a>
            </li>
            <li class="nav-item active">
            <a class="nav-link" href="/account">Account</a>
            </li>
            <li class="nav-item active">
            <a class="nav-link" href="/logout">Logout</a>
            </li>
          {% else %}
            <li class="nav-item active">
            <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item active">
            <a class="nav-link" href="/register">Register</a>
            </li>
          {% endif %}
      </div>
      
    </div>
  </nav>
<br>
  <main role="main" class="container">
    <div class="row">
      <div class="col-md-9">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          {% for category, message in messages %}
            <div class='alert alert-{{ category }}'>
              {{ message }}
            </div>
          {% endfor %}
          {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
        
      </div>
      <div class="col-md-3">
        <div class="content-section">
 <!--          <h2>Chat Here </h2>
          
            <div><input id=input size="25" placeholder="Type here and press enter" /></div>
          Chat Output
           <div id="box"></div>
            <script src=https://cdn.pubnub.com/sdk/javascript/pubnub.4.0.11.min.js></script>
            <script>(function(){
              var pubnub = new PubNub({ publishKey : 'demo', subscribeKey : 'demo' });
              function $(id) { return document.getElementById(id); }
              var box = $('box'), input = $('input'), channel = '10chat-demo';
              pubnub.addListener({
                  message: function(obj) {
                    var user = "{{ current_user.username }}"
                      box.innerHTML = (user+': '+obj.message).replace( /[<>]/g, '' ) + '<br>' + box.innerHTML
                  }});
              pubnub.subscribe({channels:[channel]});
              input.addEventListener('keyup', function(e) {
                  if ((e.keyCode || e.charCode) === 13) {
                    pubnub.publish({channel : channel,message : input.value,x : (input.value='')});
                }
              });
        })();</script>   -->
          

    <div id="username-input-modal" class="modal-background">
        <div class="user-input-modal">
          <img class="rounded-circle img" src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}">
            <h2>Chat Here</h2>
            <input id="username-input" type="text" maxlength="16" class="modal-text-input" placeholder="username">
            <div id="join-button" class="modal-button disabled">
            </div>
        </div>
    </div>

    <div id="chat-interface" class="chat-interface">



        <div id="chat" class="chat">
            <div id="log" class="log"></div>
            <div class="input-container">
                <div class="textarea-container">
                    <textarea id="message-input" placeholder="Global Chat..." maxlength="10000"></textarea>
                </div>
                <div id="submit" class="submit">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                            <path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"/>
                            <path d="M0 0h24v24H0z" fill="none"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>       
        </div>
      </div>
    </div>
  </main>

<script src="https://cdn.jsdelivr.net/npm/chat-engine@0.9.18/dist/chat-engine.js"></script>
<script src="/static/chat.js" type="text/javascript"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>